.cards{
  padding-top: 20px 0 40px;
  border-bottom:1px solid #21212166;
}

.cards__list{
    list-style: none;
    padding: 0;
    margin: 0 ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(413px, 1fr));
    justify-items: center;
    gap:40px 20px;
}

@media screen and (max-width: 627px) {
  .cards__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
  }

  .card {
    max-width: 100%;
  }

  .card__image {
    width: 100%;
    height: 288px;
    margin-bottom: 12px;
  }
}
