.card{
  max-width:413px;
}

.card__image {
 width: 413px;
 height: 445px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__like-button {
  width:23px;
  height:20px;
  background: transparent;
  border: none;
  opacity:40%;
  margin-top: 12px;
  margin-bottom: 36px;


}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card__title {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: medium;
  color: #212121;
  margin-top: 12px;
  margin-bottom: 36px;

}

@media screen and (max-width: 627px) {
  .card__image{
    height:288px;
    width:288px;

  }

  .card__title{
    font-size:16px;
    line-height: 100%;
    font-weight:500;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: medium;
    color: #212121;
    margin-top:12px;
    margin-bottom:20px;
  }

  .cards__list{
    gap: 20px;
    justify-content: center;

  }
}