.cards{
  padding-top: 20px;
}

.cards__list{
    list-style: none;
    padding: 0;
    margin: 0 ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(413px, 1fr));
    justify-items: center;
    gap:40px 20px;
}


@media screen and (max-width: 627px) {
  .cards__list{
      grid-template-columns: repeat(auto-fit, 288px);
  }
}

