.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__text {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
}
