.footer {
border-top: 1px solid #000;
max-width:1280px;
margin: 0 auto;
padding-top:60px;
padding-bottom:60px;
}

.footer__text {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  font-style: regular;
  color: #212121;
  opacity: 40%;
  text-align: center;
  color: rgba(33, 33, 33,0.7);
}