.profile{
  display:flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  margin: 0 auto;
}

.profile__avatar{
  width:190px;
  height:190px;
  margin-right: 20px;
  border-radius: 12px;

}

.profile__column{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.profile__name{
  margin-bottom: 0 0 12px;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: medium;
  color: #212121;
  height: 32px;
  text-overflow: ellipsis;
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description{
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  font-style: medium;
  color: #212121;
  opacity:70%;
  width:97px;
  height: 16px;
  align-self: flex-start;
  text-overflow: ellipsis;
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  align-self: flex-start;
  height:16px;
  background: transparent;
  border: none;
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: rgba(33,33,33,.7);
}

.profile__add-button {
margin-left: auto;
height:52px;
background: #212121;
border-radius: 8px;
border: none;
color: #fcf5e5;
font-size: 16px;
font-family: "Poppins", Arial, Helvetica, sans-serif;
font-weight: 500;
font-style: medium;
line-height: 100%;
padding-top:18px;
padding-bottom:18px;
padding-left:32px;
padding-right:32px;
align-self: flex-start;
display: flex;
gap:8px;
border-radius:8px;
}

@media screen and (max-width: 627px) {
  .profile{
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width:288px;
    padding-top:20px;
}

.profile__avatar{
  margin-right: 0;
  height: 80px;
  width: 80px;
}
.profile__add-button {
  margin:0;
  gap: 8px;
  align-self: center;
  text-align: center;
  width:288px;
  height:52px;
  background: #212121;
  border-radius: 8px;
  justify-content: center;
}

.profile__description{
  align-self: center;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
font-family: "Poppins", Arial, Helvetica, sans-serif;
font-style: medium;
color: rgba(33, 33, 33,0.7);
max-width: 288px;
}

.profile__edit-button {
  align-self: center;
  margin-bottom: 20px;
}

.profile__name{
  margin-bottom: 6px;
font-size: 20px;
font-weight: 500;
font-family: "Poppins", Arial, Helvetica, sans-serif;
font-style: medium;
color: #212121;
max-width: 288px;
}
}